.aside {
  padding: 40px;
  max-width: 370px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;

  &__profile {
    border-bottom: 1px dotted rgb(204, 202, 202);
    padding-bottom: 32px;
    &-img {
      position: relative;
      margin: 0 auto;
      width: 80px;
      margin-bottom: 6px;
      img {
        width: 76px;
        border-radius: 50%;
        object-fit: contain;
      }
    }

    &-round {
      position: absolute;
      right: 10%;
      bottom: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.2rem;
      background: #fff;
      border-radius: 50%;
      span {
        width: 10px;
        height: 10px;
        background: rgb(4, 221, 4);
        border-radius: 50%;
      }
    }

    &-user {
      margin-bottom: 24px;
      h4 {
        font-family: "Nunito Sans", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.01em;
        text-align: center;
        color: var(--primary-color-bold);
      }

      p {
        font-family: "Nunito Sans", sans-serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-align: center;
        color: var(--mute-color);
      }
    }

    &-details {
      display: flex;
      justify-content: space-around;
      align-items: center;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
          font-family: "Nunito Sans", sans-serif;
          font-size: 18px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: 0.01em;
          text-align: center;
          color: var(--primary-color-bold);
          cursor: pointer;
          transition: 0.2s ease-in-out;
        }

        h4:hover {
          text-decoration: underline;
        }

        p {
          font-family: "Nunito Sans", sans-serif;
          font-size: 12px;
          font-weight: 600;
          line-height: 16px;
          letter-spacing: 0.03em;
          text-align: center;
          color: var(--mute-color);
        }
      }
    }
  }

  &__nav {
    margin-top: 32px;
    border-bottom: 1px dotted rgb(204, 202, 202);
    padding-bottom: 32px;

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      width: 100%;
    }

    &-item {
      width: 100%;
      padding: 13px 16px;
      a {
        display: flex;
        gap: 10px;
        align-items: center;
        svg {
          width: 20px;
        }
        span {
          width: 100%;
          color: var(--primary-color-bold);
        }
      }
    }
  }

  &__contacts {
    margin-top: 32px;

    h3 {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: var(--primary-color-bold);
    }

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      margin-top: 16px;

      a {
        color: var(--blue-color);
        text-align: center;
      }
    }

    &-item {
      display: flex;
      gap: 10px;
      align-items: center;

      img {
        width: 48px;
        height: 48px;
        object-fit: cover;
      }

      svg {
        cursor: pointer;
      }

      div {
        flex: 1;
        a {
          flex: 1;
          color: var(--primary-color-light);
          font-size: 14px;
          font-weight: 700;
        }

        a:hover {
          text-decoration: underline;
        }

        p {
          flex: 1;
          color: var(--mute-color);
          font-size: 12px;
          font-weight: 600;
        }
      }
    }
  }

  &__login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
}
